body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 40px 20px;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #4caf50;
} 