doctype html

html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='x-ua-compatible', content='ie=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        link(rel='author', content='Duncan Luk')

        title TypeScript front-end starter
        meta(name='description', content='This website is awesome!')

        link(href='style.css', rel='stylesheet')

    body
        img#logo(src='/images/logo.svg')
        h1 Front-end starter
        #message

    
    script(src='script.js', defer)
